<%- include('../partials/header') %>
<ul>
  <% skills.forEach(function(s) { %>
    <li>
      <a href="/skills/<%= s.id %>"><%= s.skill %></a>
      - 
      <%= s.mastery ? 'true' : 'false' %>
    </li>
    <% }); %>
  </ul>
  
  <%- include('../partials/footer') %>